/* Internship HTML */
body.offpage-internship{
    background: url(./../media/backgrounds/ship.jpg) center no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

body.offpage-changelog{
    background: url(./../media/backgrounds/data_server.jpg) center no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

header{
    height: 50px;
    background: #3c3f41;

    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: left;

    z-index: 10;
    position: fixed;
    top:0;
    left:0;
}

header:before{
    display: none;
}

body{
    height: calc(100vh + 50px);
}

header p{
    flex-grow: 2;
    font-family: hero, sans-serif;
    font-size: 1.25em;
    line-height: 50px;
}

main{
    /*To Improve Readability for the user*/
    background: rgba(60,63,65,0.4);
    margin: -50px 0 0;
    padding: 100px 0 50px;
}

main section{
    margin-left: 0;
    margin-right: 0;
}


main p{
    font-family: hero, sans-serif;
    text-align: center;
    line-height: 1.2em;
    padding: 0 20px;
}

.arrow{
    margin: 0 25px;
}

aside{
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    margin: 25px 0 50px;
}

aside img{
    max-height: 150px;
}

h3{
    margin-top: 50px;
}

/* Changelog HTML */
.changelog a{
    color: #dedede;
    text-decoration: none;
    list-style: none;
}

.changelog h3{
    margin: 10px 0;
}

.changelog .orb.hidden{
    bottom: -50px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.changelog .orb{
    height: 50px;
    width: 50px;
    opacity: 1;
    z-index: 1000;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;

    background: #f68739;

    position: fixed;
    bottom: 25px;
    right: 25px;

    -webkit-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
    -ms-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

.changelog .orb .arrow{
    position: absolute;
    top: 20px;
    left: 19px;

    margin: 0;
    border-color: #3c3f41;
}

.future{
    color: dodgerblue;
}