#future h2+p{
    text-align: center;
}

.definition-holder{
    height: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.arrow{
    margin: 0 auto;
    border-width: 0 2px 2px 0;
}

.arrowholder{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 5px 0;
    opacity: 1;

    -webkit-transition: all ease-in-out 2s;
    -moz-transition: all ease-in-out 2s;
    -ms-transition: all ease-in-out 2s;
    -o-transition: all ease-in-out 2s;
    transition: all ease-in-out 2s;
}

#future.max .definition-holder{
    overflow-y: scroll;
}

.line-art{
    height: 100px;
    width: 100px;
    margin: auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.line-art > div{
    height: 90%;
    width: 0;
    border: 1px #f68739 solid;
    border-radius: 2px;
    -webkit-animation: art-middle-grow 8s infinite;
    -o-animation: art-middle-grow 8s infinite;
    animation: art-middle-grow 8s infinite;
}

.line-art > div:nth-child(2), .line-art > div:nth-child(4){
    height: 60%;
    -webkit-animation: art-inner-grow 8s infinite;
    -o-animation: art-inner-grow 8s infinite;
    animation: art-inner-grow 8s infinite;
}

.line-art > div:nth-child(1), .line-art > div:nth-child(5){
    height: 20%;
    -webkit-animation: art-outer-grow 8s infinite;
    -o-animation: art-outer-grow 8s infinite;
    animation: art-outer-grow 8s infinite;
}

@keyframes art-outer-grow {
    0% {height: 20%;}
    50%{height: 60%;}
    99%{height: 20%;}
}

@keyframes art-inner-grow {
    0% {height: 60%;}
    25%{height: 10%;}
    66%{height: 90%;}
    99%{height: 60%;}
}

@keyframes art-middle-grow {
    0% {height: 90%;}
    25%{height: 100%;}
    66%{height: 30%;}
    99%{height: 90%;}
}