/* Dark Grey: 313335 Grey: 4D4A48 Orange: F68739 White: D7D7D7 */
*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    background: url(./../media/backgrounds/satellite.jpg) center no-repeat fixed;
    z-index: 100;
    -webkit-background-size: cover;
    background-size: cover;
}

p{
    color: white;
    font-family: sans-serif;
}

header{
    position: relative;
}

header:before{
    position: fixed;
    content: " ";
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: url(./../media/backgrounds/white_lines.jpg) right repeat-y fixed;
    -webkit-background-size:cover;
    background-size:cover;
    top: 0;
    left: 0;
}

header.nano:before{
    display: none;
}

.slogan{
    position: absolute;
    top: 220px;
    left: 50px;

    font-family: EnterpriseT, hero-light, sans-serif;
    font-weight: lighter;
    font-size: 60px;
}

.slogan span{
    display: block;
    font-size: 0.4em;
}

/* Fonts */
@font-face {
    font-family: hero;
    src: url(../fonts/hero/Hero.otf);
}

@font-face {
    font-family: hero-light;
    src: url(../fonts/hero/Hero-Light.otf);
}

@font-face {
    font-family: EnterpriseT;
    src: url(../fonts/enterpriseT/Skynet.EnterpriseT.otf) format('otf');
    src: url('../fonts/enterpriseT/skynet.enterpriset-webfont.eot'),
    url('../fonts/enterpriseT/skynet.enterpriset-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/enterpriseT/skynet.enterpriset-webfont.woff2') format('woff2'),
    url('../fonts/enterpriseT/skynet.enterpriset-webfont.woff') format('woff'),
    url('../fonts/enterpriseT/skynet.enterpriset-webfont.ttf') format('truetype'),
    url('../fonts/enterpriseT/skynet.enterpriset-webfont.svg#skynet.enterpriseregular') format('svg');
}

/* Titles */
h1, h2, h3, h4{
    font-family: hero-light, sans-serif;
}

h1{
    font-family: sans-serif;
    font-size: 2em;
    margin-bottom: 25px;
    color: #dedede;
    text-align: center;
}

h2{
    color: #f68739;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    margin: 10px 0;
}

h3{
    color: #f68739;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    margin: 15px 0 10px 0;
}

h4{
    color: #f68739;
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-style: italic;
    margin: 15px 0 0;
}

h1 > span{
    display: block;
    font-size: 0.5em;
}

.subtitle p{
    color: #f68739;
}

#logo{
    max-width: 60vw;
    margin: 0 auto;
}

/* Header */
header{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

header > section ~ section{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#profile-pictures{
    margin-top: -50px;
    width: 50vw;
    height: 50vw;
    position: relative;
}

#profile-pictures img{
    position: absolute;
    top: 0;
    left: 0;

    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;

    object-fit: cover;
    z-index: 10;
}

/* Footer */
footer{
    background: #3c3f41;
    margin-top: -10px;
    padding: 20px 0 0;
}

#legal{
    width: 100%;
    text-align: center;
    font-size: 0.6em;
    cursor: pointer;
}

#contact{
    margin: 0 0 25px 0;
}

#contact > div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    margin-top: 25px;
}

#contact article a{
    display: block;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.facebook{
    background: url(./../media/logos/fb/FB-f-Logo__blue_50.png) center no-repeat;
    background-size: contain;
}

.linkedin{
    background: url(./../media/logos/linkedIn/2-Color/In-2C-41px-R.png) center no-repeat;
    background-size: contain;
}

.github{
    background: url(./../media/logos/github/GitHub-Mark-Light-64px.png) center no-repeat;
    background-size: contain;
}

.gmail{
    background: url(./../media/logos/google/logo_gmail_48px.png) center no-repeat;
    background-size: contain;
}

.whatsapp{
    background: url(./../media/logos/whatsapp/WhatsApp_Logo_46.png) center no-repeat;
    background-size: contain;
}

.chrome{
    background: url(./../media/logos/google/chrome_100.png) center no-repeat;
    background-size: contain;
}

.download{
    background: url(./../media/logos/download.png) center no-repeat;
    background-size: contain;
}

/* Main */
main{
    width: 100vw;
    padding: 0 0 50px 0;
}

main > section{
    margin: 30px 5px;
}

article p{
    margin: 0 0 15px 0;
    padding: 0 25px;
    text-align: center;
    line-height: 1.25em;
}

/* Striped Transition */
.striped{
    position: relative;
}

.striped:after{
    bottom: 0;
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    background: linear-gradient(165deg, rgba(255,255,255,0) 66%, #3c3f41 0);
}

.striped-before:before{
    top:0;
    content: '';
    width: 100%;
    height: 100px;
    position: absolute;
    background: linear-gradient(165deg, #3c3f41 66%, rgba(255, 255, 255, 0) 0%);
}

.striped-container{
    padding: 100px 0;
}


/* Design Classes */
.line{
    width: 90%;
    height: 0;
    border: 1px #f68739 solid;

    margin: 25px auto;
}

.line.s75{
    width: 75%;
}

.line.vertical{
    width: 0;
    height: 75%;
}

.transition{
    width: 100vw;
    height: 15px;
    overflow: hidden;
    margin: 10px 0 25px 0;
}

.transition div{
    width: 33%;
    border: 10px #f68739 solid;
    float: left;
}

.transition.right div{
    float: right;
}

.transition div + div{
    border-style: dotted;
}

.btn{
    display: block;
    margin: 10px auto 20px;
    width: 75%;
    height: 40px;
    background: #f68739;
    color: #3c3f41;
    text-align: center;
    font-weight: bold;
    font-family: hero, sans-serif;
    line-height: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn span{
    font-weight: normal;
}

/* Listings */
ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 15px 0;
}

li{
    color: #D7D7D7;
    font-family: hero, sans-serif;
    text-decoration: none;
    list-style: none;
    text-align: center;

    margin: 10px 0;
    padding: 5px;
    border: 1px #f68739 solid;
    border-radius: 5px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* VPC */
#viewportchecker{
    position: fixed;
    top: 5px;
    left: 5px;
    height: 10px;
    width: 10px;
    border: 1px solid black;
    z-index: 1000000;
}