/* Viewport Classes */

/* No VP */
.notmobile{
    display: none;
}

/* Mobile Landscape VP */
@media(max-width: 900px) and (orientation: landscape){
    header{
        flex-flow: row wrap;
    }

    header .line{
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
